<div class ="main-header">

  <div class="left-header">
    <div class="current-chat">
      hogehuga
    </div>
  </div>

  <div class="right-header">
    <div class="end-chat">
      <a href="#">チャット終了</a>
    </div>
  </div>

</div>

<div class ="messages">

  <div class="message">
    <div class="message-upper">
      <div class="message-name">Yuhi</div>
      <div class="message-time">2021/12/20 15:21:11</div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="message-upper">
      <div class="message-name">Takamatsu</div>
      <div class="message-time">2021/12/21 15:22:11</div>
    </div>
    <div class="message-bottom">
      <div class="message-content">
         今晩わ
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>